:root,:root.light{
    --color:#223399;
    --bgC2:#00203f;
    --bg: linear-gradient(adefd1ff 40%,#f6c453,#fefbe9b 25%,#f0a04b 15%);
    --bg3:linear-gradient(#397754 30%,#f0a3bc,#70be51,#9b45b2 30%);
}
:root.dark{
        --bgC2:#888889;
       --bg3:linear-gradient(#557777 50%,#666666);
       --bg:linear-gradient(#878787 25%,#997997 15%,#666666);
        --color:#e3e3e3;
}
:root.youthful{
        --bgC2:#e1eedd;
        --bg3:linear-gradient(#f6c453,#fefbe9,#183a1d);
        --bg:linear-gradient(#f6c489 50%,#183a3e);
        --color:#a08049;
}
:root.cool{
        --bg3:linear-gradient(#e4ddf4,#fffbf0,#2d2d2d);
        --bgC2:#2d2d2d;
        --bg:linear-gradient(#282612 50%,#943d24);
        --color:#a299fb2;
}
*{
        box-sizing: border-box;
}
body{
    
   
        background-image:var(--bg3);
}
.first_view,.second_view{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:60vh;
        backface-visibility:hidden;
        display:flex;
        justify-content:center;
         border-radius:20px;
        box-shadow:4px 4px 5px rgba(240,240,240,.3),
    -4px -4px 5px rgba(250,250,250,.3), inset 6px 6px 6px rgba(225,225,225,.3), inset -6px -6px 6px rgba(224,224,224,.3);
}
.second_view{
        transform: rotateX(180deg);
  font-size:1em;
 flex-flow:row wrap;
 text-align:center;
 align-items: center;
 font-size:3em;
 background-image:var(--bg);
}
.first_view{
    
    transform: rotateX(0deg);
  z-index: 2;
  font-size:4em;
        display:flex;
        flex-flow:row wrap;
        align-items:center;
        justify-content:center;
}
#main{
    position:relative;
    width:100%;
    height:100%;
      transform-style: preserve-3d;
       border-radius:20px;
        box-shadow:4px 4px 5px rgba(240,240,240,.3),
    -4px -4px 5px rgba(250,250,250,.3), inset 6px 6px 6px rgba(225,225,225,.3), inset -6px -6px 6px rgba(224,224,224,.3);
}
main{
        text-align:center;
    width:80vh;
height:60vh;
    color:;
    text-emphasis:1px solid blue;
    webkit-text-decorations-in-effect:blink;
    webkit-text-emphasis:1px solid blue;
    font-weight:900;
    color:var(--color);
    font-size:1em;
   margin-top:30%;
}
.img{
    position: absolute;
    top:0;
   
    z-index:-4;
    height:;
    width:100%;
}
.image{
        width:8em;
        height:8em;
        border-radius:50%;
        height:auto;
        
}
#goto{
    border: 2px solid var(--color);
    border-radius:30px;
    text-align: center;
    padding:3px;
    background-color:var(--bgC2);
}
.show_profile{
        transform:rotateX(180deg);
}
.influence{
        display:flex;
        flex-flow:column nowrap;
        
        justify-content:center;
       text-align:center;
       background-color:(--bgC2);
}
.influence figure{
        width:32%;
        text-align:center;
}
.second_view::after{
        content: '\f021  Flip';
  font-family: 'Font Awesome 5 Free', Lato, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ddd;

        
        
}

.grid{
        display:grid;
        grid-template-columns:auto auto;
}
.grid_2{
        display:grid;
        grid-template-columns:auto auto auto auto;
        grid-gap:1em;
}
a{
        color:inherit;
        text-decoration:none;
}

header,.theme{
        position:absolute;
        top:10%;
}
.theme{
        right:10%;
        width:8em;
        height:1.3em;
        background-color:var(--color);
}
#themes{
        width:100%;
        height:100%;
}
header{
       left:20%;
       text-align:center;
}
.search{

display:flex;

flex-flow:row nowrap;

justify-content:space-around;

width:90%;

border:3px solid blue;

border-radius:10px;

height:2.5em;

align-items:center;

}
#search_btn{

margin-left:-20%;
border:none;
display:inline-block;
padding:8px 16px;
vertical-align:middle;
overflow:hidden;
text-decoration:none;
color:inherit;
background-color:inherit;
text-align:center;
cursor:pointer;
white-space:nowrap}
.btn:hover{
        box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
        
        
}

input[type="text"]{

outline:none;

border:none;

z-index:;

width:100%;

background-color: transparent;

}
